@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

/* Navbr */
.mon-navbar{
    background: #F2EAEA;
    height: 100px;
    z-index: 99;
    position: absolute;
}
.logo-titre{
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-left:3.68%;
}
.button-contact{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    height: 47px;
    width: 177px;
    background: #50EF28;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: transparent;
}
.div-color{
    background: #F2EAEA;
}
/* Fin Navbar */

/* section baniere */
.image-banniere{
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(58, 57, 57, 0.5)),url('image/imagebanner.jpg') center center fixed
    no-repeat;
    background-size: cover;
    height: 850px;
    width: 100%;
}
/* Fin section banniere */


/* Centre interet section */
.image-centre-interet{
    width: 218px;
    height: 218px;
    border-radius: 100%;
}
.centre-div{
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    height: 293px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* Fin centre interet section */


/* section a poropos de moi */
.text-section{
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    height: 293px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenu{
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 41px;
    color: #000000;
    margin-left: 1%;
}
.titre-section{
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 49px;
    color: #000000;
}
/* Fin section a propos de moi */


/* section experience */

.experience-div{
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}
.formation-date{
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    text-align: center;
}

.formation-libelle{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 33px;
    color: #000000;
    margin-left: 1%;
}
.case-text-experience {
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 200px;
}
.icone-grade{
    font-size: 3rem;
    margin-right: 0.5rem;
}

/* Fin section experinece */


/* Langue section  */
/* Cadre langue */
.langue-div{
    margin-top: 0.5rem;
}
.cadre-langue{
    height: 466px;
}
.langue-parler{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}
.pourcentage{
    width: 268px;
    height: 12.08px;
    border-radius: 10px;
    background: #C4C4C4;
}
.francais{
    width: 243px;
    height: 12.08px;
    background: #2E75E0;
    border-radius: 10px;
}
.anglais{
    width: 102px;
    height: 12.08px;
    background: #C72EE0;;
    border-radius: 10px;
}
.poular{
    width: 259px;
    height: 12.08px;
    background: #B1E02E;
    border-radius: 10px;
}
.soussou{
    width: 259px;
    height: 12.08px;
    background: #B1E02E;
    border-radius: 10px;
}
.malike{
    width: 259px;
    height: 12.08px;
    background: #B1E02E;
    border-radius: 10px;
}
.wolof{
    width: 143px;
    height: 12.08px;
    background: #2EE0C0;;
    border-radius: 10px;
}
.nom-langue{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;

    color: #000000;
}
.maitrise-langue{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    margin-top: -0.6rem;
    
}
/* Fin cadre langue */
/* Fin langue section */


/* Section competances */
.competemce-div{
    height: 60px;
}
.cadre-competance{
    height: 546px;
}
.pourcentage-position{
    margin-left: 14rem;
    margin-top: -1.2rem;
}
.competance-pourcentage{
    margin-top: -1rem;
}
.nom-competance {
    margin-top:0.5rem ;
}
.html{
    width: 163px;
    height: 12.08px;
    background: #2E75E0;
    border-radius: 10px;
}
.css{
    width: 155px;
    height: 12.08px;
    background: #B1E02E;
    border-radius: 10px;
}
.javascript{
    width: 112px;
    height: 12.08px;
    background: #E0982E;
    border-radius: 10px;
}
.bootstrap{
    width: 158px;
    height: 12.08px;
    background: #2EE0C0;
    border-radius: 10px;
}
.php{
    width: 187px;
    height: 12.08px;
    background:  #2EE0C0;
    border-radius: 10px;
}
.java{
    width: 151px;
    height: 12.08px;
    background: #C72EE0;
    border-radius: 10px;
}
.github{
    width: 155px;
    height: 12.08px;
    background: #2EE0C0;
    border-radius: 10px;
}
.ux-ui{
    width: 188px;
    height: 12.08px;
    background: #2EE0C0;;
    border-radius: 10px;
}


/* Fin section competances */


/* partie profile */
.profile-brief{
    height: 641px;
    background: #f3efef;
    border: 1px solid #E5E5E5;
}
.photo-profile{
    box-shadow: 0px 4px 9px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    height: 459px;
    width: 80%;
    margin-left: 1rem;
    margin-top: 2rem;
}
.hello{
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 80px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.hello-div{
    width: 161px;
    height: 61px;
    background: #50EF28;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-left: 1rem;
}
.nom-devlopper{
    display: flex;
    flex-direction: column;
}

.name-developer{
    margin-left: 8px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}
.mot-appelle{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    margin-right: 10px;
    display: flex;
    color: #000000;
}
.fonction-karim{
    font-style: normal;
    font-size: 15px;
    color: #000000;
    margin-left: 4rem;
}
.age-div{
    display: flex;
    flex-direction: row;
    
}
.titre{
    font-style: normal;   
    font-size: 18px;
    color: #000000;
}
.contenu-section{
    font-style: normal;
    font-size: 18px;
    font-weight: 200;   
    color: #000000;
}
.aligne{
    display: flex;
    flex-direction: row;
}
.age{
    margin-left: 32%;
}
.Adresse{
    margin-left: 28%;
}
.email{
    margin-left: 30%;
}
.telepone{
    margin-left: 25%;
}
.categorie{
    margin-left:17% ;
}
.mar-haut{
    margin-top: -17%;
}


.cadre-icone{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background: chartreuse;   
}
.style-icone{
    font-size: 3rem;
    margin-right: 1.5rem;
    color: #FFFFFF;
}

/* Fin partie profile */



/* Formulaire */
.div-champ{
    display: flex;
    flex-direction: row;
}
.champ-nom{
    margin-top: 15px;      
    Height: 74px;
    border-radius: 10px;
    /* margin-bottom: 3%; */
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);

}
.message-text{
    margin-top: 15px; 
    margin-bottom: 15px;
    Height:180px;
    border-radius: 10px; 
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
   
}
.contact{
    padding-top: 2rem;
    display: flex; 
    flex-direction: column;
    width: 400px;
    height: 65%;
    margin-top: 15px;
    box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.25);
}
.icone-and-contenu{
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
}
.image-icone{
    height: 60px;
    width: 60px;
    border-radius: 100%;
    /* margin-right: 5rem; */
}
.phone-number{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
}
.contenu-contact{
    display: flex; 
    flex-direction: column;
   
}
.sectio-map{
    display: flex;
    flex-direction: column;
}
/* Fin Formulaire */

/* Reference */
.referent-div {
    height: 410px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);

}
.photo-reference{
    box-shadow: 0px 4px 9px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    height: 359px;
    width: 80%;
    margin-left: 1rem;
    margin-top: 1.5rem;
}
.name-referent{
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    color: #000000;
}
.formation-libelle-referent{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #000000;
}
/* Fin reference */













/* Media query mobile */
@media only screen and (min-width: 310px) and (max-width:768px) {
    /* navbar section */
    .mon-navbar{
        height: 60px;
    }
    .logo-titre{
        font-size: 24px;
    }
    /* Fin navbar section */

     /* profil */
    .marge-haut{
        margin-top: -10%;
    }
    .profile-brief{
        height: 100%;
    }
    .hello-div{
        margin-top: 1rem;
    }
    .photo-profile{
        height: 100%;
        width: 100%;
        margin-left: 0;
        margin-top: 0.3rem;
    }
    .fonction-karim{
        font-size: 10px;
    }
    .name-developer{
        font-size: 15px;
    }
    .mot-appelle{
        font-size: 18px;
    }
    .aligne{
        flex-direction: column;
    }
    .age,.Adresse,.categorie,.email,.telepone{
        margin-left: 0;
    }
    .style-icone{
        margin-right: 1rem;
        font-size: 2rem;
    }

    .mar-haut{
        margin-top: -2rem;
    }
    .mot-appelle{
        margin-right: 0.5rem;
    }
    /* fin profile */

    /* centre interet section */
    .centre-div{
        height: 100%;
    }
    .image-centre-interet{
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        width: 130px;
        height: 130px;
    }
    /* Fin centre ineret section */

      /* A propos de moi et quqlite personnelle */
      .text-section{
        height: auto;
    }
    .titre-section{
        font-weight: 900;
        font-size: 14px;
        line-height: 19px;
    }
    .contenu{
        height: auto;
        font-weight: 300;
        font-size: 18px;
        line-height: 25px;
        margin-left: 1%;
    }
    /* Fin a propos de moi et qualite personnelle */


    /* section experience */
    .formation-libelle{
        font-size: 14px;
        line-height: 20px;
    }
    .formation-date{
        font-size: 17px;
    }
    .case-text-experience{
        margin-left: 1.5%;
        margin-right: 1.5%;
        width: 97%;
        height: auto;
    }
    .icone-grade{
        font-size: 1.5rem;
    }
    /* Fin section experience */

        /* Cadre langue */
        .cadre-langue{
            width: 100%;
            height: 100%;
        }
        .langue-parler{
            width: 96%;
            margin-left: 2%;
            margin-right: 2%;
            border-radius: 10px;  
        }
        .pourcentage{
            width: 155.89px;
        }
        .francais{
            width: 141px;
        }
        .anglais, .wolof{
            width:68.33px;
        }
        .poular , .malike, .soussou {
            width:149.83px;
        }
        .langue-and-pourcentage{
            display: flex;
            justify-content: center;
        }
        .nom-langue{
            font-size: 17px;
        }
        .maitrise-langue{
            font-size: 14px;
        }
        /* Fin cadre langue */
     /* Competance */
     .pourcentage-position{
        margin-left: 7.3rem;
    }
    .cadre-competance{
        height: 100%;
        width: 100%;
    }
    .html{
        width: 108px;
    }
    .css{
        width: 93px;
    }
    .javascript{
        width: 66px;
    }
    .bootstrap{
        width: 93px;
    }
    .php{
       width: 110px; 
    }
    .java{
        width: 88px;
    }
    .github{
        width: 90px;
    }
    .ux-ui{
        width: 110px;
    }
    /* Fin competance */

    /* refrence */
    .name-referent{
        font-size: 20px;
        margin-top: 1.5rem;
    }
    .photo-reference{
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
    }
    .referent-div{
        height: auto;
        width: auto;
    }
    .referent-libelle-div{
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
    }

    /* Fin reference */
}

/* Fin Media query mobile */


/* Media query talette */
@media only screen and (min-width:769px) and (max-width:1024px){
    /* Centre interet */
    .centre-div{
       height: 100%;
    
    }
    .image-centre-interet{
       height: 130px;
       width: 130px;
    }
    /* Fin centre interet */

    /* A propos de moi et quqlite personnelle */
      .text-section{
        height: auto;
    }
    .titre-section{
        font-weight: 900px;
        font-size: 14px;
        line-height: 19px;
    }
    .contenu{
        height: auto;
        font-weight: 300;
        font-size: 18px;
        line-height: 25px;
        margin-left: 1%;
    }
    .icone-grade{
        font-size: 1.5rem;
    }
    /* Fin a propos de moi et qualite personnelle */






     /* Competance */
     .pourcentage-position{
        margin-left: 7.3rem;
    }
    .cadre-competance{
        height: 100%;
        width: 100%;
    }
    .html{
        width: 108px;
    }
    .css{
        width: 93px;
    }
    .javascript{
        width: 66px;
    }
    .bootstrap{
        width: 93px;
    }
    .php{
       width: 110px; 
    }
    .java{
        width: 88px;
    }
    .github{
        width: 90px;
    }
    .ux-ui{
        width: 110px;
    }
    /* Fin competance */



      /* Cadre langue */
      .cadre-langue{
        width: 100%;
        height: 100%;
    }
    .langue-parler{
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
        border-radius: 10px;  
    }
    .pourcentage{
        width: 155.89px;
    }
    .francais{
        width: 141px;
    }
    .anglais, .wolof{
        width:68.33px;
    }
    .poular , .malike, .soussou {
        width:149.83px;
    }
    .langue-and-pourcentage{
        display: flex;
        justify-content: center;
    }
    .nom-langue{
        font-size: 17px;
    }
    .maitrise-langue{
        font-size: 14px;
    }
    /* Fin cadre langue */

    .formation-libelle{
        font-size: 14px;
        line-height: 20px;
    }
    .formation-date{
        font-size: 17px;
    }


    /* refrence */
       .name-referent{
        font-size: 20px;
        margin-top: 1.5rem;
    }
    .photo-reference{
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
    }
    .referent-div{
        height: auto;
    }

    /* Fin reference */
}
/* Fin media query Tablet */


